@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var currentRoot = Model.AncestorOrSelf(1);
    var footer = currentRoot.Children.Where(x => !x.Value<bool>("hideFromNavigation"));
    //var footer = Model.Descendant(2).Children.Where(x => !x.Value<bool>("hideFromNavigation"));
}

<footer class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="@currentRoot.Url()">
            @if (currentRoot.HasValue("siteLogo"))
            {
                <img src="@(currentRoot.Value<IPublishedContent>("siteLogo").Url())" />
            }
        </a>
        @if (footer != null)
        {
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li>
                        <a href="@currentRoot.Url()">@currentRoot.Name</a>
                    </li>
                    @foreach (var item in footer)
                    {
                        <li class="nav-item px-2">
                            <a href="@item.Url()">@(item.HasValue("navName") ? item.Value("navName") : item.Name)</a>
                        </li>
                    }
                </ul>
                <ul>
                    @if (currentRoot.HasValue("tel"))
                    {
                        <li>@currentRoot.Value("tel")</li>
                    }
                    @if (currentRoot.HasValue("emailAddress"))
                    {
                        <li><a href="mailto:@currentRoot.Value("emailAddress")">@currentRoot.Value("emailAddress")</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</footer>

<footer class="footer">
    <div class="footer-bottom bg-navy">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="footer-links">
                        <li><a href="" target="_blank">Privacy Notice</a></li>
                        <li><a href="" target="_blank">Electronic Communications Act </a></li>
                        <li><a href="" target="_blank">Promotion of Access to Information Act Manual</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-12">
                    <p class="clr-white">Copyright © 2020 Life Healthcare. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
