@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Umbraco.Web.Models
@{
    var currentRoot = Model.AncestorOrSelf(1);
    var nav = currentRoot.Children.Where(x => !x.Value<bool>("hideFromNavigation"));
    var links = currentRoot.Value<IEnumerable<Link>>("globalLinks");
}


@if (links.Any())
{
    <div class="container-fluid">
        <div class="row topNav pt-4">
            <div class="col-12 text-right">
                <ul class="d-flex justify-content-end mb-0">
                    @foreach (var link in links)
                    {
                        <li class="list-style-none px-4">
                            <a href="@link.Url"><span class="fa-solid"></span> @link.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="@currentRoot.Url()">
            @if (currentRoot.HasValue("siteLogo"))
            {
                <img src="@(currentRoot.Value<IPublishedContent>("siteLogo").Url())" />
            }
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (nav != null)
        {
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a href="@currentRoot.Url()">@currentRoot.Name</a>
                    </li>
                    @foreach (var item in nav)
                    {
                        <li class="nav-item px-md-2">
                            <a href="@item.Url()">@(item.HasValue("navName") ? item.Value("navName") : item.Name)</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</nav>

