@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticles>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = "Master.cshtml";
    var currentRoot = Model.AncestorOrSelf(1);

    string query = "";
    if (!string.IsNullOrEmpty(Request.QueryString["category"]))
    {
        query = Request.QueryString["category"].ToString();
    }
    Dictionary<string, string> dropDown = new Dictionary<string, string>();

    IEnumerable<NewsArticle> newsArticles = Model.Descendants<NewsArticle>();
    //Model.Ancestor("insight").Descendants<News>.OrderByDescending(x => x.UpdateDate).Take(2);

    if (newsArticles != null && newsArticles.Any())
    {
        foreach (NewsArticle newsArt in newsArticles)
        {
            if (newsArt.HasValue("articleCategories"))
            {
                foreach (string cat in newsArt.ArticleCategories)
                {
                    if (!dropDown.ContainsKey(cat))
                    {
                        dropDown.Add(cat, "?category=" + cat);
                    }
                }
            }
        }
        dropDown.Distinct();
    }

    NewsArticle latest = newsArticles.OrderByDescending(x => x.UpdateDate).First();

    if (!string.IsNullOrEmpty(query))
    {
        newsArticles = newsArticles.Where(x => x.ArticleCategories.Contains(query));
    }

}
@Html.GetGridHtml(Model, "pageModule", "Bootstrap3-Fluid")

@if (Model.Parent.Parent != null)
{
    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb bg-white pl-0 mb-0">
                        <li class="pl-0">
                            <a href="@Model.Parent.Parent.Url()" class="font-weight-bold text-primary">@Model.Parent.Parent.Name <i class="fa-solid fa-angle-right ml-2"></i></a>
                        </li>
                        @if (Model.Id == 1193)
                        {
                            <li class="pl-3">
                                <a class="active font-weight-bold text-primary" href="@Model.Url()">@Model.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

<section class="pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Model.IntroSection
            </div>
        </div>
    </div>
</section>

@if (dropDown.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-12 main-selector">
                <form class="border-top border-bottom border-top border-bottom py-3">
                    <label class="h3 text-primary font-weight-bold pr-4">Filter </label>
                    <select class="insight-selector p-1 text-primary" onchange="javascript: location.href = this.value;">
                        <option value="@Model.Url()">All</option>
                        @foreach (KeyValuePair<string, string> cat in dropDown)
                        {
                            <option value="@cat.Value" @(!string.IsNullOrEmpty(query) && query.ToLower() == cat.Key.ToLower() ? "selected='selected'" : "")>@cat.Key</option>
                        }
                    </select>
                </form>
            </div>
        </div>
    </div>
}

@if (newsArticles.Any())
{
    <section class="py-2">
        <div class="container">
            <div class="row py-5">
                @foreach (var item in newsArticles)
                {
                    NewsArticle news = new NewsArticle(item);

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card mb-3 border-0">
                            @if (news.PostImage != null && news.HasValue("postImage"))
                            {
                                <img src="@news.PostImage.Url()" class="card-img-top" alt="@news.Title">
                            }
                            <div class="card-body px-0">
                                @if (news.PublishedDate != null)
                                {
                                    <p class="small  text-info font-weight-bold">@news.Value("publishedDate").ToString().AsDateTime().ToString("dd MMM yyyy")</p>
                                }
                                <h5 class="card-title">@news.Name</h5>
                                <div class="card-text">
                                    <p class="mb-0">@news.Blurb</p>
                                </div>
                                <a href="@news.Url()" class="text-danger font-weight-bold position-relative">
                                    <span>Read More</span> 
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
