@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsArticle>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@if (Model.PageImage != null)
{
    <div class="view intro-2">
        <div class="full-bg-img" style="background-image: url('@Model.PageImage.Url()'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="mask rgba-black-light">
                <div class="container white-text">
                    <div class="white-text wow fadeInUp">
                        <h2>@Model.Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <h5>@Model.Title</h5>
                <p class="lead">@Model.Blurb</p>
                @Html.Raw(Model.BodyText)
            </div>
        </div>
    </div>
</section>
